{#<span class="actor">{{ activity.actor.displayName|default('removed') }}</span> <span class="verb">{{ activity.verb }}<span class="object">{{ activity.object.displayName|default('removed') }}</span>#}
{% spaceless %}    
{% if activity.code is defined %}
    {% set activityCode = 'gesofactivitystream.' ~ activity.code %}
    {% set transData = {
        '%actor%': '<b>' ~ activity.actor.displayName|default('Removed') ~ '</b>',
        '%target%': '<b>' ~ activity.target.displayName|default('Removed') ~ '</b>',
        '%object%': '<b>' ~ activity.object.displayName|default('Removed') ~ '</b>',
        '%verb%': activity.verb
    } %}
    
    {% set msg = activityCode|trans(transData) %}
    {{ msg != activityCode ? msg|raw : 'gesofactivitystream.default'|trans(transData)|raw }}
{% endif %}
{% endspaceless %}